<div *ngIf="empleado || isNew">
    <a routerLink="/empleados" routerLinkActive="active">Atrás</a>
    <br />
    <h3>Datos personales</h3>
    <label>ID interno</label>
    <br />
    <input type="text" [(ngModel)]="empleado.id" [attr.disabled]="isNew === true ? null : true"  />
    <br />
    <label>DUI</label>
    <br />
    <input type="text" [(ngModel)]="empleado.dui" />
    <br />
    <label>Nombres</label>
    <br />
    <input type="text" [(ngModel)]="empleado.nombre" />
    <br />
    <label>Apellidos</label>
    <br />
    <input type="text" [(ngModel)]="empleado.apellido" />
    <br />
    <label>Sexo</label>
    <br />
    <select [(ngModel)]="empleado.sexo">
        <option value="0">masculino</option>
        <option value="1">femenino</option>
    </select>
    <br />
    <label>Fecha nacimiento</label>
    <br />
    <input type="date" [(ngModel)]="empleado.fechaNacimiento" />
    <br />
    <br />
    <button (click)="guardar()">Guardar</button>
    <button (click)="eliminar()">Eliminar</button>
</div>